<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368110045431-lh205tci4domuiesl017uthb3qtv2msk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368110045431-lh205tci4domuiesl017uthb3qtv2msk</string>
	<key>API_KEY</key>
	<string>AIzaSyBToEr-4eh8OJbLFW4q4doh4n4VnVPtjy4</string>
	<key>GCM_SENDER_ID</key>
	<string>368110045431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tdlist</string>
	<key>PROJECT_ID</key>
	<string>tdlist-yndx</string>
	<key>STORAGE_BUCKET</key>
	<string>tdlist-yndx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368110045431:ios:f89bd6200e1d7ddb99ebf2</string>
</dict>
</plist>